/** Variables Import **/
@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/**
 * CSS Reset
 * Source: https://www.joshwcomeau.com/css/custom-css-reset/
*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Global CSS **/
/* We recommend writing minimal component-specific CSS here */



body {
  background-color: #ECF2F8;
  font-family: var(--ff-base);
 
}

.display-none {
  display: none;
}

.article-preview-container {
  width: 730px;
  margin: 20rem auto;
  box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
  display: flex;
  align-items: center;
}

.drawers-img {
  border-radius: 10px 0px 0px 10px;
  width: 300px;
  height: 290px;
  display: block;
}

.article-content-container {
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
  padding: 2rem;
  height: 290px;
  width: 500px;
}

.main-heading {
  color: #48556A;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: .25px;
  padding-bottom: 1rem;
}

.preview-text {
  color: #6e8098;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  padding-bottom: .5rem;
}

.author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.date-name-avatar-container {
  display: flex;
  align-items: center;
  
}

.author-avatar-img {
  border-radius: 50%;
  width: 40px;
  margin-right: 1rem;
  
}

.author-name {
  color: #48556A;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 1rem;
}

.share-btn-container{

  height: 32px;
  width: 32px;
  background-color: #ECF2F8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}


/** Attribution CSS **/
.attribution { 
  font-size: 13px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 767px) {

  .article-preview-container {
    width: 95%;
    height: 100vh;
    margin: 2rem auto 0rem auto;
    flex-direction: column;
  }

  .article-img-container {
    width: 100%;
  }

  .drawers-img {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
  }

  .article-content-container {
    border-radius: 0px 0px 10px 10px;
    padding: 0rem;
    width: 100%;
  }

  
  .main-heading {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .preview-text {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mobile-author-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mobile-avatar-container {
  display: flex;
  align-items: center;
}


